<div class="left testDiv">
    <div>

        <span>Token: <input style="width: 100%;" type="text" [(ngModel)]="token" /></span>
        <br />
        <span>Scene view: <input type="checkbox" [(ngModel)]="sceneView" (change)="onMapChange($event)" /></span>
        <input type="text" [(ngModel)]="defaultUrl" style="width: 100%;">
        <button *ngFor="let test of testMaps;let index = index" (click)="setUrl(test.url)">url {{index}}</button>

        <div>
            <input #mapUrlInput type="text" style="width: 100%;" value="https://epic.ensiteusa.com/arcgis/rest/services/7351_Delta_Natural_Gas/7351_0002_Lincoln_to_RockCastle/MapServer" />
            <button (click)="addMoreMap(mapUrlInput.value)">add map</button>
        </div>


        <div>
            <label>add preset map</label>
            <br />
            <button *ngFor="let testMap of testMaps;let index = index" (click)="addMoreMap(testMap)">add map
                {{index}}</button>

        </div>
    </div>


    <table>
        <tr *ngFor="let mapUrl of urls; let index = index">
            <td>{{mapUrl.id}}</td>
            <td>
                <input type="text" [(ngModel)]="mapUrl.url">
            </td>
            <td><button (click)="urls.splice(index,1)">delete</button></td>
        </tr>
    </table>
</div>

<div class="right test testDiv">
    <map-view [sceneView]="sceneView" (loaded)="onmapLoaded($event)" #map [authToken]="token">
        <map-url [id]="'my test default'" [url]="defaultUrl"> </map-url>

        <ng-container *ngFor="let test of urls; let index = index">
            <map-url [id]="test.id" [url]="test.url"> </map-url>
        </ng-container>
    </map-view>
</div>
