:host{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.left{
    flex: 0 0 30%;
}
.right{
    flex:1 1 70%;
    overflow: hidden;
}
.test{
    
    // width: 95vw;
    // height: 90vh;
    margin: 0 auto;

}

.testDiv{
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}