<div class="mapProgressBarDiv" *ngIf="isLoading | async">
    <div class="sliderBar"></div>
    <div class="sliderBar"></div>
    <div class="sliderBar"></div>
</div>


<div class="mapAndToc">
    <div #mapView class="mapView">map not init</div>
    <map-image-layer *ngFor="let input of layerUrlList" [url]="input.url" [id]="input.id" [zoomToOnAdd]="true">
    </map-image-layer>
    <div class="toc-wrapper" [class.showTocPanel]="uiConfig.showTocPannel">
        <mat-tab-group class="tab-group">
            <mat-tab label="TOC">
                <div class="tabDiv tocDiv">
                    <map-toc-ui class="toc" *ngFor="let toc of tocUrlList; let i=index;" [url]="toc.url"
                        [mapScale]="mapScale" [tocIndex]="i" (layerVisibleChange)="onLayerSettingChange($event)"
                        (layerLabelChange)="onLayerLabelChange($event)">
                    </map-toc-ui>
                </div>
            </mat-tab>
            <mat-tab label="Base Map">
                <div class="tabDiv">Base map</div>
            </mat-tab>
            <mat-tab label="KMZ">
                <div class="tabDiv">
                    KMZ
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="toc-menu">
            <div class="toc-func">
                <button class="toc-btn" mat-icon-button color="primary" (click)="toggleLeftMenu()"
                    [class.mapIsLoading]="isLoading | async">
                    <mat-icon>dashboard</mat-icon>
                </button>
            </div>

            <div class="toggle-tools">
                <div class="toc-func" [class.activedTool]="uiConfig.leftMenuTools.selectedTool === 'identifyTool'">
                    <button class="toc-btn" mat-icon-button color="primary" title="toggle layer identify tool"
                        (click)="activateTool('identifyTool')">
                        <mat-icon class="functionBtn">not_listed_location</mat-icon>
                    </button>
                </div>
                <div class="toc-func" [class.activedTool]="uiConfig.leftMenuTools.selectedTool === 'unknowTool'">
                    <button class="toc-btn" mat-icon-button color="primary" title="toggle layer identify tool"
                        (click)="activateTool('unknowTool')">
                        <mat-icon class="functionBtn">edit_attributes</mat-icon>
                    </button>
                </div>
            </div>


            <div class="toc-func">
                <button class="toc-btn" mat-icon-button color="primary">
                    <mat-icon>drag_indicator</mat-icon>
                </button>
            </div>
            <div class="toc-func">
                <button class="toc-btn" mat-icon-button color="primary">
                    <mat-icon>list</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="bottom-pannel-wrapper" [class.hideBottomPanel]="!uiConfig.showBottomPannel"
    [ngStyle]="{'height.px': uiConfig.bottomPanel.height}">
    <div class="panel-content" *ngIf="uiConfig.showBottomPannel">
        <table *ngFor="let map of identifyResults">
            <tr *ngFor="let item of map.results | keyvalue">
                <td>{{item.key}}</td>
                <!-- <td>{{item.value|json}}</td> -->
            </tr>

        </table>
    </div>
    <div class="expand-bar">
        <div class="expand-buttons">
            <div class="expand-btn resizebar" *ngIf="uiConfig.showBottomPannel"
                (mousedown)="onBottomPanelResize($event)"> </div>
            <div class="expand-btn collapsebtn">
                <mat-icon *ngIf="!uiConfig.showBottomPannel" (click)="toggleBottomPanel()">expand_less</mat-icon>
                <mat-icon *ngIf="uiConfig.showBottomPannel" (click)="toggleBottomPanel()">expand_more</mat-icon>
            </div>
        </div>
    </div>
</div>